
:root {
  --sb-bg: #252525;
  --tb-bg: #252525;
  --tb-height: 5vh;
  --sb-width: 10vw;
  --rz-badge-padding: 0.125rem 0.25rem;
  --rz-badge-font-size: 0.75rem;
  --rz-badge-font-weight: 500;
  --rz-badge-line-height: 500;
  --rz-badge-border-spacing: 4px;
  --rz-badge-letter-spacing: 0.02rem;
  --rz-body-padding: 1rem;
  --transform: transform 0.3s ease-in-out;
  --dgpadding: 2px 4px;
  --logopadding: 5px;
  --rz-input-font-size: var(--rz-body-font-size);
  --rz-input-height: 2.5rem;
  --rz-input-line-height: 1.5;
  --rz-input-padding: 0.4375rem 0.9375rem;
  --rz-input-value-color: var(--rz-text-color);
  --rz-input-placeholder-color: var(--rz-text-tertiary-color);
  --rz-input-background-color: var(--rz-base-background-color);
  --rz-input-border: var(--rz-border-normal);
  --rz-input-border-radius: var(--rz-border-radius);
  --rz-input-shadow: none;
  --rz-input-hover-shadow: none;
  --rz-input-hover-border: var(--rz-border-hover);
  --rz-input-focus-shadow: inset 0 0 0 1px var(--rz-primary);
  --rz-input-focus-border: var(--rz-border-focus);
  --rz-input-disabled-border: var(--rz-border-disabled);
  --rz-input-disabled-shadow: none;
  --rz-input-disabled-background-color: var(--rz-base-background-color);
  --rz-input-disabled-color: var(--rz-text-disabled-color);
  --rz-input-disabled-placeholder-color: var(--rz-text-disabled-color);
  --rz-input-disabled-opacity: 1;
  --rz-input-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  --rz-border-width: 1px;
  --rz-root-font-size: 16px;
  --rz-body-font-size: 1rem;
  --rz-body-line-height: 1.5;
  --rz-body-background-color: var(--rz-base-900);
  --rz-icon-size: 1.5rem;
  --rz-text-font-family: Roboto, sans-serif;
  --rz-white: #ffffff;
  --rz-black: #000000;
  --rz-base-50: #e0e0e0;
  --rz-base-100: #a0a0a0;
  --rz-base-200: #6c6c6c;
  --rz-base-300: #545454;
  --rz-base-400: #383838;
  --rz-base-500: #333333;
  --rz-base-600: #2e2e2e;
  --rz-base-700: #252525;
  --rz-base-800: #1e1e1e;
  --rz-base-900: #121212;
  --rz-primary: #bb86fc;
  --rz-primary-light: #c99efd;
  --rz-primary-lighter: rgba(187, 134, 252, 0.12);
  --rz-primary-dark: #966bca;
  --rz-primary-darker: #7f5bab;
  --rz-secondary: #01a299;
  --rz-secondary-light: #34b5ad;
  --rz-secondary-lighter: rgba(1, 162, 153, 0.12);
  --rz-secondary-dark: #01827a;
  --rz-secondary-darker: #016e68;
  --rz-info: #2196f3;
  --rz-info-light: #4dabf5;
  --rz-info-lighter: rgba(33, 150, 243, 0.2);
  --rz-info-dark: #1a78c2;
  --rz-info-darker: #1666a5;
  --rz-success: #4caf50;
  --rz-success-light: #70bf73;
  --rz-success-lighter: rgba(76, 175, 80, 0.16);
  --rz-success-dark: #3d8c40;
  --rz-success-darker: #347736;
  --rz-warning: #ff9800;
  --rz-warning-light: #ffad33;
  --rz-warning-lighter: rgba(255, 152, 0, 0.2);
  --rz-warning-dark: #cc7a00;
  --rz-warning-darker: #ad6700;
  --rz-danger: #f44336;
  --rz-danger-light: #f6695e;
  --rz-danger-lighter: rgba(244, 67, 54, 0.2);
  --rz-danger-dark: #c3362b;
  --rz-danger-darker: #a62e25;
  --rz-series-1: #3700b3;
  --rz-series-2: #ba68c8;
  --rz-series-3: #f06292;
  --rz-series-4: #ff8a65;
  --rz-series-5: #ffee58;
  --rz-series-6: #9ccc65;
  --rz-series-7: #26a69a;
  --rz-series-8: #4fc3f7;
  --ddwidth: 750px;
  --tablepadding: 10px;
}

* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  border-width: 0;
}
  html {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    height: 100vh;
  }

  form {
    display: block;
  }
  body {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    overflow: auto;
  }
  th>span.material-symbol-outlined {
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: hidden;
  }

  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
  }

  [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    appearance: button;
  }
  button, select {
    text-transform: none;
  }

  table {table-layout: auto;}
  table>tbody>td:nth-child(2){font-weight: bolder;}

  .rz-textbox:not(:disabled):not(.rz-state-disabled):hover, .rz-textarea:not(:disabled):not(.rz-state-disabled):hover, .mask:not(:disabled):not(.rz-state-disabled):hover, .rz-dropdown:not(:disabled):not(.rz-state-disabled):hover, .rz-multiselect:not(:disabled):not(.rz-state-disabled):hover, .rz-calendar .rz-inputtext:not(:disabled):not(.rz-state-disabled):hover, .rz-spinner:not(:disabled):not(.rz-state-disabled):hover, .rz-lookup-search input:not(:disabled):not(.rz-state-disabled):hover, .rz-colorpicker:not(:disabled):not(.rz-state-disabled):hover, .rz-chkbox-box:hover:not(.rz-state-disabled), .rz-radiobutton-box:hover:not(.rz-state-disabled), .rz-autocomplete:hover:not(.rz-state-disabled) {
    box-shadow: var(--rz-input-hover-shadow);
    border: var(--rz-input-hover-border);
  }

  .rz-textbox:not(:disabled):not(.rz-state-disabled):hover, .rz-textarea:not(:disabled):not(.rz-state-disabled):hover, .mask:not(:disabled):not(.rz-state-disabled):hover, .rz-dropdown:not(:disabled):not(.rz-state-disabled):hover, .rz-multiselect:not(:disabled):not(.rz-state-disabled):hover, .rz-calendar .rz-inputtext:not(:disabled):not(.rz-state-disabled):hover, .rz-spinner:not(:disabled):not(.rz-state-disabled):hover, .rz-lookup-search input:not(:disabled):not(.rz-state-disabled):hover, .rz-colorpicker:not(:disabled):not(.rz-state-disabled):hover, .rz-chkbox-box:hover:not(.rz-state-disabled), .rz-radiobutton-box:hover:not(.rz-state-disabled), .rz-autocomplete:hover:not(.rz-state-disabled) {
    box-shadow: var(--rz-input-hover-shadow);
    border: var(--rz-input-hover-border);
}

.rz-textbox:not(:disabled):not(.rz-state-disabled):hover, .rz-textarea:not(:disabled):not(.rz-state-disabled):hover, .mask:not(:disabled):not(.rz-state-disabled):hover, .rz-dropdown:not(:disabled):not(.rz-state-disabled):hover, .rz-multiselect:not(:disabled):not(.rz-state-disabled):hover, .rz-calendar .rz-inputtext:not(:disabled):not(.rz-state-disabled):hover, .rz-spinner:not(:disabled):not(.rz-state-disabled):hover, .rz-lookup-search input:not(:disabled):not(.rz-state-disabled):hover, .rz-colorpicker:not(:disabled):not(.rz-state-disabled):hover, .rz-chkbox-box:hover:not(.rz-state-disabled), .rz-radiobutton-box:hover:not(.rz-state-disabled), .rz-autocomplete:hover:not(.rz-state-disabled) {
    box-shadow: var(--rz-input-hover-shadow);
    border: var(--rz-input-hover-border);
}
.rz-dropdown, .rz-multiselect {
    display: inline-block;
    position: relative;
    cursor: pointer;
    position: sticky;
}
.rz-textbox, .rz-textarea, .mask, .rz-dropdown, .rz-multiselect, .rz-calendar .rz-inputtext, .rz-spinner, .rz-lookup-search input, .rz-colorpicker {
    /* height: var(--rz-input-height); */
    line-height: var(--rz-input-line-height);
    color: var(--rz-input-value-color);
    font-size: var(--rz-input-font-size);
    transition: var(--rz-input-transition);
    outline: none;
}
.rz-textbox, .rz-textarea, .mask, .rz-dropdown, .rz-multiselect, .rz-calendar .rz-inputtext, .rz-spinner, .rz-lookup-search input, .rz-colorpicker {
    border: var(--rz-input-border);
    border-radius: var(--rz-input-border-radius);
    box-shadow: var(--rz-input-shadow);
    background-color: var(--rz-input-background-color);
}

.rz-textbox, .rz-textarea, .mask, .rz-dropdown, .rz-multiselect, .rz-calendar .rz-inputtext, .rz-spinner, .rz-lookup-search input, .rz-colorpicker {
  /* height: var(--rz-input-height); */
  line-height: var(--rz-input-line-height);
  color: var(--rz-input-value-color);
  font-size: var(--rz-input-font-size);
  transition: var(--rz-input-transition);
  outline: none;
}
.rz-textbox, .rz-textarea, .mask, .rz-dropdown, .rz-multiselect, .rz-calendar .rz-inputtext, .rz-spinner, .rz-lookup-search input, .rz-colorpicker {
  border: var(--rz-input-border);
  border-radius: var(--rz-input-border-radius);
  box-shadow: var(--rz-input-shadow);
  background-color: var(--rz-input-background-color);
}
.rz-textbox, .rz-textarea, .mask, .rz-dropdown, .rz-multiselect, .rz-calendar .rz-inputtext, .rz-spinner, .rz-lookup-search input, .rz-colorpicker {
  padding: var(--rz-input-padding);
}
.rz-dropdown, .rz-multiselect {
  display: inline-block;
  position: relative;
  cursor: pointer;
  position: sticky;
}
.rz-textbox, .rz-textarea, .mask, .rz-dropdown, .rz-multiselect, .rz-calendar .rz-inputtext, .rz-spinner, .rz-lookup-search input, .rz-colorpicker {
  /* height: var(--rz-input-height); */
  line-height: var(--rz-input-line-height);
  color: var(--rz-input-value-color);
  font-size: var(--rz-input-font-size);
  transition: var(--rz-input-transition);
  outline: none;
}
.rz-textbox, .rz-textarea, .mask, .rz-dropdown, .rz-multiselect, .rz-calendar .rz-inputtext, .rz-spinner, .rz-lookup-search input, .rz-colorpicker {
  border: var(--rz-input-border);
  border-radius: var(--rz-input-border-radius);
  box-shadow: var(--rz-input-shadow);
  background-color: var(--rz-input-background-color);
}
.rz-textbox, .rz-textarea, .mask, .rz-dropdown, .rz-multiselect, .rz-calendar .rz-inputtext, .rz-spinner, .rz-lookup-search input, .rz-colorpicker {
  padding: var(--rz-input-padding);
}
.dropdown {
  margin-right: 10px;
}

.material-symbols-outlined {
  color: white;
  cursor: pointer;
}

input:-webkit-autofill:not(.rz-textbox),
input:-webkit-autofill:hover:not(.rz-textbox),
input:-webkit-autofill:focus:not(.rz-textbox),
input:-webkit-autofill:active:not(.rz-textbox) {
    -webkit-box-shadow: 0 0 0 30px black inset;
    -webkit-text-fill-color: white;
}

#activeDropdown {
  cursor: pointer;
}
input  {
  cursor: pointer;
}

#dd {
  box-sizing: border-box;
  flex-direction: row;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  align-items: center;
  background-color: #202124;
  border: 1px solid #3c4043;
  border-radius: 20px;
  display: inline-flex;
  min-width: 48px;
  outline: none;
  padding: 0 14px;
  text-align: center;
}