
:root {
  --sb-bg: #252525;
  --tb-bg: #252525;
  --tb-height: 5vh;
  --sb-width: 10vw;
  --ddwidth: 800px;
  --tablepadding: 10px;
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
}

  html {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    height: 100vh;
  }

  form {
    display: block;
  }
  body {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    overflow: auto;
  }
  th>span.material-symbol-outlined {
    display: inline-block;
    width: 1em;
    height: 1em;
    overflow: hidden;
  }

  [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
  }

  [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    appearance: button;
  }
  button, select {
    text-transform: none;
  }

  table {table-layout: auto;}
  table>tbody>td:nth-child(2){font-weight: bolder;}


.material-symbols-outlined {
  cursor: pointer;
}

input:-webkit-autofill:not(.rz-textbox),
input:-webkit-autofill:hover:not(.rz-textbox),
input:-webkit-autofill:focus:not(.rz-textbox),
input:-webkit-autofill:active:not(.rz-textbox) {
    -webkit-box-shadow: 0 0 0 30px black inset;
    -webkit-text-fill-color: white;
}

#activeDropdown {
  cursor: pointer;
}
input  {
  cursor: pointer;
}

#dd {
  box-sizing: border-box;
  flex-direction: row;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  align-items: center;
  background-color: #202124;
  border: 1px solid #3c4043;
  border-radius: 20px;
  display: inline-flex;
  min-width: 48px;
  outline: none;
  padding: 0 14px;
  text-align: center;
}


.input:hover {
  border: white;
  margin: 5px;
}

.monaco-editor {
  resize: both;
}

[class$='-hidden'] {
  z-index: 0 !important;
}
.black {
  color: black;
  background-color: transparent;
}

.white {
  color: white;
  background-color: transparent;
}
/*
div {
  box-sizing: border-box;
} */
input {
  position: relative;
  z-index: 0;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
}

[class$='react-datepicker_'] {
  z-index: 1;
}

.container {
	display: flex;
}

[class*='item'] {
  color: white;
}

.p-4 {
  padding: 1rem;
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243,244,246,var(--tw-bg-opacity));
}
.overflow-x-auto {
  overflow-x: auto;
}
.gap-4 {
  gap: 1rem;
}
.flex-grow {
  flex-grow: 1;
}
.h-full {
  height: 100%;
}
.flex {
  display: flex;
}

form {
  height: 100%;
  background-color: white;
  color: black;
}

/* .input-wrapper {
  display: inline-block;
  user-select: none;
  align-items: center;
}

.input-wrapper .icon {
  display: inline-block;
  vertical-align: middle;
} */

/* .input-wrapper .icon {
  margin-left: 10px;
} */

.dropdown {
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: none;
  background-color: #1e1e1e;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}
.dropdown:hover {
  border: 1px solid white;
}

label {
  display: inline-block;
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}

input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rz-body {
  overflow-x: hidden;
}
.react-datepicker__month-container>*  {
  z-index: 2;
  opacity: 1;
}

.tfoot>.tr {
  display: flex;
  vertical-align: middle;
  align-items: center;
  flex-direction: row;
  border-top: 2px solid #e2e8f0;
  padding-top: 0.5rem;
}

.page-button {
  color: black;
}


.button {
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 14px;
  color: black;
  border-style: solid;
  /* border-color: white; */
  cursor: pointer;
  margin: 2px;
  border-radius: 15px;
  display: block;
  transform: translateY(25%);
  margin: 0px;
  z-index: 0;
}
.button:hover {
  background-color: white;
}
p {
  color: grey;
}

.active-button {
  background-color: #f38c8c;
  transition-duration: 0.2s;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 14px;
  color: black;
  border-style: solid;
  /* border-color: white; */
  cursor: pointer;
  margin: 2px;
  border-radius: 15px;
  display: block;
  transform: translateY(25%);
  margin: 0px;
  z-index: 0;
}

.red {
  color: rgb(248, 165, 165);
  background-color: transparent;
}
.red:hover {
  color: red;
}

.collapsed {
  position: absolute;
  z-index: 10;
  background-color: transparent;
}