.datagriddiv {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  height: 70vh;
  max-height: 70vh;
  width: 80vw;
}

.dataGridtable {
  border: 1px solid #d3d3d3;
}

.dataGridtbody {
  border-bottom: 1px solid lightgray;
}

.dataGridth {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  white-space: nowrap;
  min-width: 1px;
  cursor: pointer;
  user-select: none;
  padding-right: 10px;
}

.dataGridtd {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  white-space: nowrap;
  overflow: hidden;
  min-width: 1px;
}

.dataGridtfoot {
  display: none;
}

.columndivider {
  top: 0px;
  right: 0px;
  width: 10px;
  position: relative;
  cursor: col-resize;
  -webkit-user-select: all;
  user-select: all;
  z-index: 1000;
}

.columndivider:hover {
  border-style: solid;
  border-color: #1931e4;
  cursor: col-resize;
}

.gridjs-tr:hover {
  background-color: #f67adf;
  cursor: pointer;
}
.material-symbols-outlined {
  float: right;
}

.datagrid {
  margin-left: 20vw; /* Replace with the width of the sidebar when retracted */
  width: calc(100% - 20vw); /* Replace with the width of the sidebar when retracted */
}

.sidebar.collapsed + .datagrid {
  margin-left: 50px; /* Replace with the width of the sidebar when expanded */
  width: calc(100% - 50px); /* Replace with the width of the sidebar when expanded */
}
