$table-header: #1976D2;
$table-header-border: #1565C0;
$table-border: #d9d9d9;

.flex-table {
    display: flex;
    flex-flow: row wrap;
    border-left: solid 1px $table-border;
    transition: 0.5s;

    &:first-of-type {
        border-top: solid 1px $table-header-border;
        border-left: solid 1px $table-header-border;
    }

    &:first-of-type .flex-row {
        background: $table-header;
        color: white;
        border-color: $table-header-border;
    }
}

.ddTable {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.divTable {
    width: fit-content;
    z-index: 0;
}


.thead>.tr {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    border-top: 2px solid rgb(105, 105, 105);
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 0;
}

.tr {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 100%;
    border-top: 2px solid rgb(105, 105, 105);
    padding-top: 2px;
    padding-bottom: 2px;
    z-index: 0;
}
.th,
.td {
    overflow: hidden;
    text-align: left;
    padding: 0;
    margin: 0;
    user-select: none;
    vertical-align: middle;
    z-index: 0;
    box-sizing: content-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

.th {
    position: relative;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    color: black;
    border-top-style: solid;
    background-color: white;
    border-top-color: #CCCCCC;
    z-index: 0;
    // box-sizing: border-box;
    // border: 1px solid transparent;
}

.td {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    color: white;
    text-overflow: ellipsis;
    user-select: text;
    // border: 1px solid red;
    // box-sizing: border-box;
}

.td.focus {
    border: 1px solid lime;
}

// .tr>.td {
//     background-color: rgb(95, 92, 92);
// }
// .tr>.th>.td {
//     background-color: white;
// }

.tr:hover {
    // border: 1px solid blue;
    cursor: pointer;
}

.coldivider {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 2px;
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    // border: 2px solid blue;
    background-color: var(--bg-color);
    opacity: 1;
}

@media (hover: hover) {
    // .coldivider {
    //     opacity: 0;
    // }

    *:hover>.coldivider {
        border-right: 2px solid blue;
        opacity: 1;
        // transform: translateX(-2px);
    }
}

.material-symbol-outlined {
    cursor: pointer;
}

.rz-placeholder {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content {
    width: 100%;
    z-index: 0;
    display: flex;
    position: absolute;
}

.dropdown-content-hidden {
    z-index: 0;
}

.table-container {
    padding: 0;
    margin: 0;
    z-index: 1;
}

.dd-container {
    background-color: #6b6666;
    padding: 10px;
    position: absolute;
    z-index: 0;
    // border: 1px solid yellow;
    resize: both;
}

.dd-container-hidden {
    background-color: #1d1d1d;
    padding: 10px;
    position: absolute;
    z-index: 0;
}

.button {
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 14px;
    color: black;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    margin: 2px;
    border-radius: 15px;
    display: block;
    transform: translateY(25%);
    margin: 0px;
    z-index: 0;
}


.active {
    background-color: #f03a3a;
    transition-duration: 0.2s;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 14px;
    color: black;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    margin: 2px;
    border-radius: 15px;
    display: block;
    transform: translateY(25%);
    margin: 0px;
    z-index: 0;
}

.rowdivider {
    position: absolute;
    cursor: row-resize;
    user-select: none;
    touch-action: none;
    display: flex;
    z-index: 0;
}

.rowdivider:hover {
    opacity: 1;
}

@media (hover: hover) {
    .rowdivider {
        opacity: 0;
        cursor: row-resize;
    }
}

.black {
    color: black;
}

.white {
    color: white;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.findcomponent {

    color: white;
    background-color: inherit;
    font-size: 16px;
    border-bottom: 1px solid #2f333d;
    border-top: 1px solid #2f333d;
    width: 100%;
    cursor: pointer;
}

.sdd-hidden {
    display: none;
}

.sdd {
    z-index: 0;
}

.add {
    color: green;
    margin-left: 10px;
}

.add:hover {
    color: lime;
}

.searchicon {
    position: absolute;
    float: right;
    cursor: crosshair;
}

.thead {
    display: flex;
    background-color: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
}

.delete {
    color: rgb(148, 1, 1);
    margin-left: 10px;
}

.delete:hover {
    color: rgb(253, 109, 109);
}

.searchicon {
    color: white;
}

.share {
    color: green;
    margin-left: 10px;
}

.share:hover {
    color: lime;
}

.search-panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.1rem;
    margin-top: 0rem;
    padding: 5px;
    height: 45px;
    width: 100%;
    cursor: text;
}

.thead>.tr {
    background-color: white;
}

.tfoot {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.td:hover {
    background-color:rgb(253, 109, 109);
}