.divTable,
.ddTable {
    width: fit-content;
    border-collapse: collapse;
}

.ddTable {
    border: 1px solid red;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.divTable {
    // border: 1px solid yellow;
    width: fit-content;
    border: 1px solid blue;
}


.tr {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.th,
.td {
    overflow: hidden;
    text-align: left;
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: content-box;
    vertical-align: middle;
    z-index: 0;
}

.th,
.gridtd {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    font-size: 14px;
}

.th {
    position: relative;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    color: black;
    border-top-width: 1;
    border-top-style: solid;
    background-color: white;
    border-top-color: #CCCCCC;
}

.td {
    display: flex;
    z-index: 0;
    background-color: black;
    color: white;
    border-left: rgb(90, 88, 88) 1px solid;
}


.tr:hover {
    border: 1px solid blue;
    cursor: pointer;
}

.coldivider {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    background: black;
}

@media (hover: hover) {
    .coldivider {
        opacity: 0;
    }

    *:hover>.coldivider {
        opacity: 1;
    }
}

.material-symbol-outlined {
    cursor: pointer;
}

.rz-placeholder {
    border: 1px solid black;
    z-index: 1000;
    background-color: rgb(70, 70, 73);
}

.dropdown-content {
    width: 100%;
    z-index: 1000;
    display: flex;
    position: absolute;
}

.dropdown-content-hidden {
    z-index: 0;
}

.table-container {
    padding: 0;
    margin: 0;
    z-index: 1;
}

.dd-container {
    background-color: #6b6666;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    border: 1px solid yellow;
}

.dd-container-hidden {
    background-color: #1d1d1d;
    padding: 10px;
    position: absolute;
    z-index: 0;
}

.button {
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 14px;
    color: black;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    margin: 2px;
    border-radius: 15px;
    display: block;
    transform: translateY(25%);
    margin: 0px;
}


.active {
    background-color: #f03a3a;
    transition-duration: 0.2s;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 14px;
    color: black;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    margin: 2px;
    border-radius: 15px;
    display: block;
    transform: translateY(25%);
    margin: 0px;
}

.rowdivider {
    position: absolute;
    cursor: row-resize;
    user-select: none;
    touch-action: none;
    display: flex;
}

.rowdivider:hover {
    opacity: 1;
}

@media (hover: hover) {
    .rowdivider {
        opacity: 0;
        cursor: row-resize;
    }
}

.black {
    color: black;
}

.white {
    color: white;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.rz-textbox.findcomponent {

    color: white;
    background-color: inherit;
    font-size: 16px;
    border-bottom: 1px solid #2f333d;
    border-top: 1px solid #2f333d;
    width: 100%;
    cursor: pointer;
}

.sdd-hidden {
    display: none;
}

.sdd {
    z-index: 1000;
}

.add {
    color: green;
    margin-left: 10px;
}
.add:hover {
    color: lime;
}

.searchicon {
    position: absolute;
    float: right;
    cursor: crosshair;
}

.thead {
    display: flex;
    background-color: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
}

// style={{
//     color: "white",
//     backgroundColor: "black",
//     fontSize: "14px",
//     borderBottom: "1px solid #2f333d",
//     borderTop: "1px solid #2f333d",
//     cursor: "text",
//     display: "block",
//     width: "100%",
//     padding: "10px",
//   }}