/* styles for top bar */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--tb-height);
  background-color: var(--sb-bg);
  color: #fff;
  display: flex;
  z-index: 1;
  width: 100%;
  height: fit-content;
  padding-bottom: 5px;

}

.rz-body {
  position: fixed !important;;
  padding: 0 !important;;
  border-style: solid !important;;
  max-width: 90vw !important;;
  width: 90vw !important;
  left: var(--sb-width) !important;
  top: var(--tb-height) !important;
  height: 95vh !important;
  overflow: auto !important;
  transition: var(--transform) !important;
  transition-duration: 0.3s !important;
}
.rz-body.rz-body-collapsed {
  max-width: 100% !important;
  width: 100% !important;
  left: 0 !important;
  transition: var(--transform) !important;
  transition-duration: 0.3s !important;
}

.sidebar {
  width: var(--sb-width);
  height: 100vh;
  position: fixed;
  top: var(--tb-height);
  left: 0;
  background-color: var(--sb-bg);
  z-index: 1;
  transition: var(--transform);
  transition-duration: 0.3s;
  overflow-y: auto;

  &.collapsed {
    transform: translateX(calc(var(--sb-width) * -1));
    transition: var(--transform);
    transition-duration: 0.3s;
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    text-decoration: none;

    &:hover {
      background-color: rgb(65, 62, 62);
    }

    &--active {
      background-color: #ddd;
    }

    &__icon {
      margin-right: 12px;
      font-size: 24px;
    }

    &__label {
      font-size: 16px;
      font-weight: 500;
    }

    &__badge {
      margin-left: auto;
      font-size: 12px;
      font-weight: 500;
      padding: 4px 8px;
      border-radius: 8px;
      color: #fff;

      &--new {
        background-color: #f44336;
      }

      &--updated {
        background-color: #2196f3;
      }
    }
  }

  &__divider {
    height: 1px;
    // background-color: #ddd;
    margin: 12px 0;
  }
}

.expandButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  position: fixed;
  padding-top: 5px;
  left: 0;
}

.sidebar__item {
  border-style: none;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  color: white;
  user-select: none;
  transition: background-color 1s ease-out;
  border-bottom: 2px solid transparent;
}
.sidebar__item,
.sidebar__item a {
  border-style: none;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  border-style: none;
  color: white;
  user-select: none;
  transition: background-color 1s ease-out;
  border-bottom: 2px solid transparent;
}

.links {
  text-decoration: none;
  color: white;
  user-select: none;
  transition: background-color 1s ease-out;
  border-bottom: 2px solid transparent;
  white-space: nowrap;
  align-items: center;
  margin-top: 20px;
  justify-content: flex-end;
}

.links:hover {
  border-bottom: 2px solid #f7f7f7;
  transition: border-bottom 0.3s;
}

.rz-badge-success {
  color: var(--rz-text-contrast-color);
  display: inline-block;
  padding: var(--rz-badge-padding);
  font-size: var(--rz-badge-font-size);
  text-align: center;
  text-transform: var(--rz-badge-text-transform);
  white-space: nowrap;
  border-radius: var(--rz-badge-border-radius);
  letter-spacing: var(--rz-badge-letter-spacing);
}

.rz-badge-success {
  background-color: green;
}


.dropdown {
  position: relative;
  display: inline-block;
  z-index: 4;
}

.ul {
  display: inline-block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  width: 100%;
}

.linksContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
}
.container {
  max-width: calc(100vw - var(--sb-width) - 10);
  width: calc(100vw - var(--sb-width) - 10);
  overflow: auto;
  transition: var(--transform);
  transition-duration: 0.3s;
}

.sitelogo {
  color: white;
  white-space: nowrap;
  align-items: center;
  display: block;
  position: relative;
  margin-left: 40px;
  padding-top: 10px;
}

.table-container {
  position: absolute;
  margin-top: 50px;
}

.dataGridtfoot {
  display: none;
}

.coldivider {
  top: 0px;
  right: 0px;
  position: relative;
  cursor: col-resize;
  -webkit-user-select: all;
  user-select: all;
  z-index: 99999999;
}

.coldivider:hover {
  border-style: solid;
  border-color: #1931e4;
  cursor: col-resize;
}

.gridjs-tr:hover {
  background-color: #f67adf;
  cursor: pointer;
}
.material-symbols-outlined {
  position: absolute; right: 10px; top: 50%; transform: translateY(-50%) translateX(40%); display: flex; cursor: pointer;
}

// .description {
//   display: inherit;
//   justify-content: inherit;
//   align-items: inherit;
//   font-size: 0.85rem;
//   max-width: var(--max-width);
//   width: 100%;
//   z-index: 2;
//   font-family: var(--font-mono);
// }

// .description a {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 0.5rem;
// }

// .description p {
//   position: relative;
//   margin: 0;
//   background-color: rgba(var(--callout-rgb), 0.5);
//   border: 1px solid rgba(var(--callout-border-rgb), 0.3);
//   border-radius: var(--border-radius);
// }

// .code {
//   font-weight: 700;
//   font-family: var(--font-mono);
// }

// .grid {
//   display: grid;
//   padding: 0;
//   grid-template-columns: repeat(4, minmax(25%, auto));
//   width: var(--max-width);
//   max-width: calc(100vw - var(--sb-width));
// }

// .card {
//   padding: 1rem 1.2rem;
//   border-radius: var(--border-radius);
//   background: rgba(var(--card-rgb), 0);
//   border: 1px solid rgba(var(--card-border-rgb), 0);
//   transition: background 200ms, border 200ms;
// }

// .card span {
//   display: inline-block;
//   transition: transform 200ms;
// }

// .card h2 {
//   font-weight: 600;
//   margin-bottom: 0.7rem;
// }

// .card p {
//   margin: 0;
//   opacity: 0.6;
//   font-size: 0.9rem;
//   line-height: 1.5;
//   max-width: 30ch;
// }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

  .active {
    background-color: #f03a3a;
    transition-duration: 0.2s;
    border-radius: 4px;
    padding: 4px 8px;
    text-decoration: none;
    font-weight: bold;
  }

  .material-symbols-outlined {
    color: white;
    cursor: pointer;
  }

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 40%;
}


.register-form label,
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="submit"] {
  display: block;
  margin-bottom: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.register-form input[type="text"] {
  width: 15rem;
  padding: 0.3rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: blue;
  color: white;
}

.register-form input[type="email"] {
  width: 15rem;
  padding: 0.3rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: blue;
}

.register-form input[type="password"] {
  width: 15rem;
  padding: 0.3rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: blue;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.register-form input[type="submit"] {
  margin-top: 20px;
  display: block;
  padding: 0.3rem;
  border: none;
  border-radius: 3px;
  width: 10rem;
  background-color: green;
  cursor: pointer;
}

.h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-width: 2px solid aqua;
  border-style: solid;
  width: 20vw;
}


/* Effect 1: Slide in on top */
.st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.st-effect-1.st-menu-open .st-effect-1.st-menu {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.undefined {
  transform: var(--transform);
}
.st-effect-1.st-menu::after {
	display: none;
}

#gridjs_0 {
  position: relative;
  z-index: 0;
  margin-top: 100px;
}

.dropdown {
  position: absolute;
  display: inline-block;
  z-index: 15;
  border-radius: 4px;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--bg-color);
  z-index: 5;
  border-style: solid;
  border-color: white;
  cursor: pointer;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  justify-content: flex-start;
  display: flex;
}

.dropdown a {
  margin-bottom: 5px;
}

.dropdown button:after {
  content: '';
  display: inline-block;
  margin-left: 0.5rem;
  width: 0;
  height: 0;
  border-top-color: var(--bg-color);
  vertical-align: middle;
  z-index: 5;
}

.dropdown-item {
  list-style: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color:rgb(65, 62, 62);
  z-index: 15;
  display: block;
  padding: 10px;
  margin-left: 10px;
  border-radius: 4px;
  width: 100%;
}
.hovered {
  display: block;
}

.dropdown-item:hover {
  background: #f87a7a;
  z-index: 15;
}

.dropdown:hover ul {
  display: block;
  z-index: 15;
}


.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66,70,73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.topbar .dropdown {
  position: absolute;
  top: 0;
  right: 0;
}
.datagriddiv {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  height: 70vh;
  max-height: 70vh;
  position: relative;
  top: 50px;
}

.dataGridtbody {
  border-bottom: 1px solid lightgray;
}

.dataGridtd {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: var(--dgpadding);
  white-space: nowrap;
  // overflow: hidden;
  min-width: 1px;
  box-sizing: border-box;
}

// .dataGridth {
//   border-bottom: 1px solid black;
//   border-right: 1px solid black;
//   white-space: nowrap;
//   margin: auto;
//   box-sizing: content-box;
//   position: relative;
//   text-align: left;
//   padding-right: 15px;
//   background-color: white;
//   color: black;
// }
.divider:hover {
  border-right: 10px solid red;
  position: relative;
  width: 10px;
  z-index: 999999;
  cursor: col-resize;
}

.dataGridth {
  padding: 10px;
  background-color: #eee;
  color: black;
}
// .dataGridth.span {
//   color: black;
// }
.dataGridth:hover {
  background-color: #ccc;
}
// .span {
//   color: black;
// }

.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 30px;
  text-align: left;
}

 .th, .td {
  box-shadow: inset 0 0 0 1px lightgrey;
  padding: 0.25rem;
}

.th:hover {
  border-right: solid 5px blue;
  cursor: col-resize;
}

