.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100vw;
    padding-top: 0.5vh;
  }

  .pagination a,
  .pagination span {
    margin: 0 8px;
    font-size: 16px;
    text-decoration: none;
    /* color: #333; */
  }

  .pagination .active {
    font-weight: bold;
    color: #fff;
    background-color: #f03a3a;
    border-radius: 4px;
    padding: 4px 8px;
  }

  .material-symbols-outlined {
    padding-left: 10px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
  }