/* styles for top bar */
.topbar {
  position: fixed;
  top: 0;
  height: var(--tb-height);
  background-color: var(--sb-bg);
  color: #fff;
  display: flex;
  z-index: 1;
  width: 100%;
}
.rz-body {
  padding-top: var(--tb-height);
  transition: var(--transform);
  transform: translateZ(0);
}

.body-retracted {
  transform: translateX(calc(var(--sb-width) * -1));
  transition: var(--transform);
}


.dropdown {
  position: relative;
  display: inline-block;
  z-index: 4;
}

.datagriddiv {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  height: 70vh;
  max-height: 70vh;
  width: 80vw;
  margin-left: calc(var(--sb-width));
}

.dataGridtable {
  border: 1px solid #d3d3d3;
}

.dataGridtbody {
  border-bottom: 1px solid lightgray;
}

.dataGridth {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  white-space: nowrap;
  min-width: 1px;
  cursor: pointer;
  user-select: none;
  padding-right: 10px;
}

.dataGridtd {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  white-space: nowrap;
  overflow: hidden;
  min-width: 1px;
}

.dataGridtfoot {
  display: none;
}

.columndivider {
  top: 0px;
  right: 0px;
  width: 10px;
  position: relative;
  cursor: col-resize;
  -webkit-user-select: all;
  user-select: all;
  z-index: 1000;
}

.columndivider:hover {
  border-style: solid;
  border-color: #1931e4;
  cursor: col-resize;
}

.gridjs-tr:hover {
  background-color: #f67adf;
  cursor: pointer;
}
.material-symbols-outlined {
  float: right;
}

.datagrid {
  margin-left: calc(100% - var(--sb-width));
}

/* registerPage.module.css */

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .register-form label,
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"],
  .register-form input[type="submit"] {
    display: block;
    margin-bottom: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .register-form input[type="text"] {
    width: 15rem;
    padding: 0.3rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
  }

  .register-form input[type="email"] {
    width: 15rem;
    padding: 0.3rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: blue;
  }

  .register-form input[type="password"] {
    width: 15rem;
    padding: 0.3rem;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: blue;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .register-form input[type="submit"] {
    margin-top: 20px;
    display: block;
    padding: 0.3rem;
    border: none;
    border-radius: 3px;
    width: 10rem;
    background-color: green;
    cursor: pointer;
  }

  .h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }

  .register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-width: 2px solid aqua;
    border-style: solid;
    width: 20vw;
  }