.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #0d1117;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}

.linksContainer {
  display: flex;
  margin-right: auto;
  float: left;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.topbar a {
  color: #f9f9f9;
  text-decoration: none;
  padding-right: 1vw;
}
