.divTable {
    border: 1px solid lightgray;
    width: fit-content;
}

.tr {
    display: flex;
}

.tr {
    width: fit-content;
    height: 30px;
}

.th,
.td {
    box-shadow: inset 0 0 0 1px lightgray;
    padding: 0.25rem;
    white-space: nowrap;
    overflow: hidden;

}

.th {
    padding: 2px 4px;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 30px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    background: white;
}

.td {
    height: 30px;
}

.coldivider {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    background: black;
}
.coldivider:hover {
    background: blue;
    opacity: 1;
}

.coldivider.isResizing {
    background: blue;
    opacity: 1;
}

@media (hover: hover) {
    .coldivider {
        opacity: 0;
    }

    *:hover>.coldivider {
        opacity: 1;
    }
}


  .button {
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 14px;
    color: black;
    z-index: 5;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    margin: 2px;
    border-radius: 15px;
    display: block;
    transform: translateY(25%);
    margin: 0px;
  }


  .active {
    background-color: #f03a3a;
    transition-duration: 0.2s;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 14px;
    color: black;
    z-index: 5;
    border-style: solid;
    border-color: white;
    cursor: pointer;
    margin: 2px;
    border-radius: 15px;
    display: block;
    transform: translateY(25%);
    margin: 0px;
  }

  .page-button {
    transform: translateY(50%);
    border: none;
  }
